/* font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif; */

body {
	background-image: url(./161326.png);
}

#box {
	border-color: #369a4f;
	border-style: solid;
	border-width: 5px;
	border-top: none;
}

.header {
	font-size: xx-large;
	font-family: "Oleo Script Swash Caps", cursive;
	text-align: center;
	opacity: 1;
	position: fixed;
	left: 500px;
	top: 160px;
	z-index: 1;
}

.text {
	font-family: "Yanone Kaffeesatz", sans-serif;
	padding-left: 27.5px;
	padding-right: 27.5px;
	padding-top: 55px;
	margin: 60px;
	background-color: #fff;
	opacity: 0.85;
	border-radius: 30px;
	font-size: x-large;
	height: 210px;
	width: 420px;
	text-align: center;
	position: fixed;
	left: 500px;
	top: 150px;
}

#neon {
	font-size: xxx-large;
	padding: 25px;
	text-align: center;
	font-family: "Meow Script", cursive;
	font-weight: bold;
	animation: pulsate 3.5s infinite alternate;
	color: #fff;
	text-shadow: 0 0 7px #369a4f, 0 0 10px #369a4f, 0 0 21px #369a4f,
		0 0 42px #369a4f, 0 0 82px #369a4f, 0 0 92px #369a4f, 0 0 102px #369a4f,
		0 0 151px #369a4f;
}

/* Flickering animation */
@keyframes pulsate {
	100% {
		/* Larger blur radius */
		text-shadow: 0 0 4px #54d273, 0 0 11px #54d273, 0 0 19px #54d273,
			0 0 40px #54d273, 0 0 80px #54d273, 0 0 90px #54d273, 0 0 100px #54d273,
			0 0 150px #54d273;
	}

	0% {
		/* Smaller blur radius */
		text-shadow: 0 0 2px #54d273, 0 0 4px #54d273, 0 0 6px #54d273,
			0 0 10px #54d273, 0 0 45px #54d273, 0 0 55px #54d273, 0 0 70px #54d273,
			0 0 80px #54d273;
	}
}
